<div class="header">
  <ul class="nav nav-pills pull-right">
    <li ><a ng-href="#">Tombola</a></li> <!-- class="active" -->
  </ul>
  <h3 class="text-muted">Premios Barcamp San Pedro Sula</h3>
</div>

<div class="jumbotron">
  <h1>Barcamp SPS</h1>
  <p class="lead">
    <input type="text" class="textcode" placeholder="Ingresa un codigo">
      <a class="btn btn-lg btn-success textcode-btn" ng-href="#">
          <span class="glyphicon glyphicon-ok"></span>
      </a>
  </p>
</div>

<div class="row marketing">
    <h4 style="text-align: center"> En la Tombola </h4>
    <ul>
        <li ng-repeat="user in raffleUsers">
            {{user.attributes.Name}}
        </li>
    </ul>
</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> BarcampSPS</p>
</div>
